<% provide(:title, "Help") %>
<h1>Questions You May Have</h1>

<%= link_to "How do I create a #{app_name} account?", "#", class: "btn btn-lg btn-primary" %><br><br>
<%= link_to "How do I log into my #{app_name} account?", "#", class: "btn btn-lg btn-primary" %><br>
