<% if logged_in? %>
  # display all posts here, along with "new post" button
<% else %>
  <div class="center jumbotron">
    <h1><%= "#{app_name}" %></h1>

    <h2>
      Post every inane thought for the world to see. Only members can view your identity!
    </h2>

    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
