<footer class="footer">
  <small>
    Created by <%= link_to "Kamron Hays", "https://github.com/Kamron-Hays/Members-Only" %>
    as part of <%= link_to "The Odin Project", "https://www.theodinproject.com/courses/ruby-on-rails" %> curriculum
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>